@model IEnumerable<Order>
<script>
	function deleteConfirm() {
		if (confirm("Are you sure to delete!")) {
			return true;
		} else {
			return false;
		}
	}
</script>
<a class="btn btn-primary" asp-controller="Order" asp-action="Create">Add New</a>

<table class="table table-hover">
	<tr>
		<th>Order_Id</th>
		<th>Cus_Name</th>
		<th>DeliveryLocal</th>
		<th>Cus_PhoneCus_Phone</th>
	    <th>OrderDate</th>
		<th>DeliveryDate</th>
		<th></th>
	</tr>
	@foreach (var order in Model)
	{
		<tr>
			<td>@order.Order_Id</td>
		    <td>@order.Cus_Name</td>
		    <td>@order.DeliveryLocal</td>
		    <td>@order.Cus_Phone</td>
		    <td>@order.OrderDate</td>
		    <td>@order.DeliveryDate</td>
			<td>
				<a asp-action="Edit" asp-route-id="@order.Order_Id">Edit</a>
				<a asp-action="Delete" asp-route-id="@order.Order_Id" onclick="return deleteConfirm()">Delete</a>
			</td>
		</tr>
	}
</table>

@*@foreach (var cat in Model)
{
	<h5 class="text-danger">Id is: @order.Order_Id</h5>
	<p>Hello everyone, my name is <b>@order.Cus_Name</b> description <b>@order.DeliveryDate</b></p>
	<hr />
}*@

