@model IEnumerable<FPTBook.Models.Order>

<h1>Order Detail</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cus_first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cus_last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cus_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cus_city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cus_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cus_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.order_id">Details</a>
                \ <a asp-action="Delete" asp-route-id="@item.order_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
